* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

a, h1, h2,
h3, p, span,
button {
    font-family: 'Roboto' !important;
    font-style: normal !important;
}